
<!DOCTYPE html>
<html>

    <head>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
        <title>Udacian Blog</title>
    </head>

    <body>

        <a href="/blog" class="main-title">
            Udacian Blog
        </a>

        <div id="content">

            <h2>New Post</h2>

            <form method="post">
                <label>
                    <div>subject</div>
                    <input type="text" name="subject" value="">
                </label>

                <label>
                    <div>blog</div>
                    <textarea name="content"></textarea>
                </label>

                <div class="error"></div>

                <input type="submit">
            </form>

        </div>
    </body>

</html>